@model int

<div class="text-center">
    <h1 class="text-info pt-4">Congratulations! You are one step closer to amazing food.</h1>
    <p class="pb-3">We have received your order and will be ready in 30 minutes during regular business hours!</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="https://media.istockphoto.com/id/687564998/photo/top-view-of-thank-you-lettering-made-from-cookie-dough.jpg?s=612x612&w=0&k=20&c=udP3Bob4G7d04DZKJtAbsO3qK90yTFquBH5FW4bVXxo=" width="35%" />
</div>